<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mahendran.teacherspet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actionsscreen"
            android:label="@string/title_activity_actionsscreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".studentDatabase"
            android:label="@string/title_activity_student_database"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".discussionroom"
            android:label="@string/title_activity_discussionroom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".testsandassignments"
            android:label="@string/title_activity_testsandassignments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".onClickClasses.addStudent"
            android:label="@string/title_activity_add_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".onClickClasses.testandassignmentcreate"
            android:label="@string/title_activity_testandassignmentcreate"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>